@import '../../styles/constants.css';

.background-image-main-component {
  /* background image set inline */

  /* height set inline, but we can make a default here */
  height: calc(100vh - var(--nav-bar-height));

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-caption {
  width: 300px;
  position: absolute;
  right: 40px;
  bottom: 140px;
  padding: 10px;

  border: 1px solid var(--text-accent);

  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.background-caption-text {
  text-align: left;
  font-family: var(--caption-font);
  font-size: 0.9rem;
  color: var(--text-accent);
}

.background-mobile-image {
  display: block;
  margin: 0;
  padding: 0;
}
