@import '../../styles/constants.css';

.navbar-holder {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-holder::before {
  will-change: transform;
}

.navbar-top {
  height: var(--nav-bar-height);
}

.navbar {
  position: relative;
  margin: 0;
  background-color: var(--background-color-light-main);
  color: black;
  border: 1px solid gray;
  display: grid;
  z-index: 10;
}

.desktop-navbar {
  grid-template-columns: 50px 100px 100px 1fr 100px 100px 50px;
}

.mobile-navbar {
  grid-template-columns: 50px 1fr 50px;
  border-bottom: 1px solid gray;
}

.navbar .navbar-item {
  border: solid gray;
  border-width: 0 1px;
  text-align: center;
  line-height: var(--nav-bar-height);
}

.desktop-navbar .navbar-item {
  width: 100px;
}

.mobile-navbar .navbar-item {
  width: 50px;
  line-height: var(--nav-bar-height);
}

.mobile-modal {
  /* height: calc(100% - var(--nav-bar-height)); */
  border-top: 1px solid gray;
  height: calc(100vh - var(--nav-bar-height));
  width: 100%;
  z-index: 1;
  background-color: var(--background-color-light-main);
}

.modal-option {
  font-family: var(--caption-font);
  line-height: var(--nav-bar-height);
  font-size: 1rem;
  font-weight: bold;
  margin: 0 auto;
  border-bottom: 1px solid gray;
  width: 90%;
}

/* display: table (the default for reacting-link) doesn't work in the grid for some reason */
.navbar-item .reacting-link {
  /* display: table; */
  margin-left: auto;
  margin-right: auto;
}

.navbar-title .reacting-link {
  font-family: var(--fun-logo-font);
  line-height: var(--nav-bar-height);
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.navbar-title {
  opacity: 0;
  transition: opacity 300ms;
  margin-left: auto;
  margin-right: auto;
}

.navbar-title.slide-enter-active {
  opacity: 1;
}

.slide-enter {
  transform: translateY(-100%);
}

.slide-enter-active {
  transform: translateY(0);
  transition: transform 600ms;
}