@import '../../styles/constants.css';

.post-list.tiled {
  background-color: var(--background-color-dark-main);
  overflow: hidden;
  text-align: left;
  padding-bottom: var(--post-list-margin);
}

.post-list.spanned {
  background-color: var(--background-color-light-secondary);
}

.post-list hr {
  margin-top: calc(var(--post-list-margin) + 10px);
  width: calc(100% - 2 * var(--post-list-margin));
  height: 0;
  border-top: 0.5px solid var(--text-color-light-main);
}

.post-list .search-holder {
  width: 100vw;
  text-align: left;
}

.post-list.spanned hr {
  border-color: var(--background-color-dark-main);
}

.post-list .title {
  font-family: var(--main-title-font);
  font-size: 1.5rem;
  display: block;
  float: left;
  padding-top: var(--post-list-margin);
  margin-left: var(--post-list-margin);
}

.post-list.tiled .title {
  color: var(--text-color-light-main);
}

.post-list.spanned .title {
  color: var(--background-color-dark-main);
}

.post-list .search {
  display: inline-block;
  font-family: var(--caption-font);
  /* margin-top: 15px; */
  margin-left: var(--post-list-margin);
}

.post-list-scroller {
  margin-left: var(--post-list-margin);
}

.post-list .new-post-button {
  color: var(--text-color-light-main);
  text-align: left;
  display: inline-block;
  font-family: var(--caption-font);
  font-size: 0.8rem;
  margin-left: var(--post-list-margin);
  /* padding-top: var(--post-list-margin); */
}

.post-list .span-area {
  display: block;
  min-height: 100px;
  margin: 100px 20% 0 20%;
  padding-bottom: 100px;
}

@media screen and (max-width: 600px) {
  .post-list .span-area {
    margin: 50px var(--post-list-margin) 0 var(--post-list-margin);
  }
}
