@import './constants.css';

html,
body {
  cursor: none;
  margin: 0;
  font-family: var(--body-text-font);
}

html *,
body * {
  cursor: none;
}

.title-div {
  background-image: url('../../images/sam_in_sask.JPG');
  margin: 0;
  height: calc(100vh - var(--nav-bar-height));
  background-size: cover;
  position: sticky;
  top: 0;
  z-index: 1;
}

.scroll-div {
  margin: 0;
  z-index: 1;
  position: relative;
  background-color: white;
}

.reacting-link {
  display: block;
  transition: 0.5s ease;
}
.reacting-link:hover {
  color: red;
  -webkit-transform: scale(1.05);
}

a {
  color: black;
  font-weight: 400;
  text-decoration: none;
}
