@import './constants.css';

html,
body {
  cursor: none;
  margin: 0;
  font-family: var(--body-text-font);
  background-color: var(--background-color-light-main);
}

html *,
body * {
  cursor: none;
}

.title-div {
  background-image: url('../../images/drone_running.JPG');
  background-size: cover;
  background-position: center;
  margin: 0;
  height: calc(100vh - var(--nav-bar-height));
  position: sticky;
  top: 0;
  z-index: 1;
}

.scroll-div {
  margin: 0;
  z-index: 1;
  position: relative;
  background-color: var(--background-color-light-main);
}

.reacting-link {
  display: table;
  transition: 0.5s ease;
}
.reacting-link:hover {
  color: var(--text-accent);
  -webkit-transform: scale(1.05);
}

a {
  color: black;
  font-weight: 400;
  text-decoration: none;
}
