@import './constants.css';

html,
body {
  cursor: none;
  margin: 0;
}

html *,
body * {
  cursor: none;
}

.title-div {
  background-image: url('../../images/sam_in_sask.JPG');
  margin: 0;
  height: calc(100vh - var(--nav-bar-height));
  background-size: cover;
  position: sticky;
  top: 0;
  z-index: 1;
}

.scroll-div {
  margin: 0;
  z-index: 1;
  position: relative;
  background-color: white;
}