:root {
  /* fonts */
  --fun-logo-font: 'Lobster', cursive;
  --main-title-font: 'Abril Fatface', cursive;
  --body-text-font: 'Times New Roman', sans-serif;
  --caption-font: 'Courier Prime', monospace;

  /* colours */
  --text-accent: red;
  --text-color-light-main: #FFFFFF;

  --background-color-light-main: #FFFFFF;
  --background-color-light-secondary: #F4F4F4;
  --background-color-mid-main: #B3B3AD;
  --background-color-dark-main: #40403E;
  --background-color-dark-secondary: #787874;

  /* component specific */
  /* navbar */
  --nav-bar-height: 70px;

  /* article */
  --post-width: 60%;
  --post-component-vertical-margin: 60px;
  --post-component-horizontal-margin: 30px;

  /* post list */
  --post-list-height: 500px;
  --post-list-margin: 40px;
}
