:root {
  --nav-bar-height: 70px;
  --main-title-font: 'Abril Fatface', cursive;
  --body-text-font: 'Times New Roman', sans-serif;
  --caption-font: 'Courier Prime', monospace;
  --background-color-light-main: #FFF9E9;
  --background-color-dark-main: #403E3A;
}