:root {
  /* fonts */
  --main-title-font: 'Abril Fatface', cursive;
  --body-text-font: 'Times New Roman', sans-serif;
  --caption-font: 'Courier Prime', monospace;

  /* colours */
  --text-accent: red;

  --background-color-light-main: #FFFFF8;
  --background-color-light-secondary: #E6E6DF;
  --background-color-mid-main: #B3B3AD;
  --background-color-dark-main: #40403E;
  --background-color-dark-secondary: #787874;

  /* component specific */
  /* navbar */
  --nav-bar-height: 70px;

  /* post width */
  --post-width: 60%;

  /* post list height */
  --post-list-height: 500px;
}
