.footer {
  margin: 0;
  height: 100px;
}

.footer .reacting-link {
  text-align: center;
  display: inline-block;
  margin: 40px 10px 40px 10px
}
.footer .reacting-link:hover {
  -webkit-transform: scale(1.2);
}