@import './constants.css';

.navbar {
  margin: 0;
  background-color: var(--background-color-light-main);
  color: black;
  height: var(--nav-bar-height);
  border: 1px solid gray;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 50px 100px 100px 1fr 100px 100px 50px;
}
@media screen and (max-width: 800px) {
  .navbar {
    grid-template-columns: 100px 1fr;
  }
}

.navbar .navbar-item {
  border: solid gray;
  border-width: 0 1px;
  text-align: center;
  line-height: var(--nav-bar-height);
  width: 100px;
}

/* display: table (the default for reacting-link) doesn't work in the grid for some reason */
.navbar-item .reacting-link {
  display: inline;
}

.navbar-title .reacting-link {
  font-family: var(--fun-logo-font);
  line-height: var(--nav-bar-height);
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.navbar-title {
  opacity: 0;
  transition: opacity 300ms;
  margin-left: auto;
  margin-right: auto;
}

.navbar-title.slide-enter-active {
  opacity: 1;
}

.slide-enter {
  transform: translateY(-100%);
}

.slide-enter-active {
  transform: translateY(0);
  transition: transform 600ms;
}

