@import './constants.css';

.post-tile {
  width: 300px;
  height: calc(var(--post-list-height) * .9);
  margin: 20px;
  padding-right: 20px;
  border-right: 1px solid var(--background-color-dark-main);
  text-align: left;
  transition: 0.5s ease;
}
.post-tile:hover {
  /* -webkit-transform: scale(1.02); */
}