@import './constants.css';

.post-list {
  background-color: var(--background-color-light-secondary);
  height: var(--post-list-height);
  width: 100%;
  overflow-x: scroll;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.post-list .scroller {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}