:root {
  --color-cursor: 40, 40, 40;
  --cursor-outline-shade: 0.3;
  --cursor-size: 10px;
  --cursor-outline-size: 30px;
}

.icon {
  font-size: 16px;
  margin: 10px 10px 0 0;
  display: inline;
}

html,
body {
  /* cursor: none;
  margin: 0; */
}

html *,
body * {
  cursor: none;
}

#app {
  text-align: center;
}

.clickable {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: 0.5s ease;
}

.clickable:hover {
  color: var(--text-accent);
  -webkit-transform: scale(1.2);
}

.text-button {
  display: table;
}

p {
  margin: 0;
  line-height: 1;
  font-weight: 300;
}

hr {
  border: 0;
  height: 2px;
  width: 3em;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 auto 1em;
}

h1+hr {
  margin: 0 auto 2em;
}

#cursor-dot,
#cursor-dot-outline {
  z-index: 999;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

#cursor-dot {
  width: var(--cursor-size);
  height: var(--cursor-size);
  background-color: rgba(var(--color-cursor), 1);
  z-index: 999;
}

#cursor-dot-outline {
  width: var(--cursor-outline-size);
  height: var(--cursor-outline-size);
  background-color: rgba(var(--color-cursor), var(--cursor-outline-shade));
}