@import '../../styles/constants.css';

:root {
  --builder-bar-height: 50px;
}

.builder-bar {
  margin: 0;
  background-color: var(--background-color-mid-main);
  color: black;
  height: var(--builder-bar-height);
  border: 1px solid gray;
  position: sticky;
  top: var(--nav-bar-height);
  display: grid;
  grid-template-columns: 30% 1fr 1fr 1fr 1fr 30%;
}

@media screen and (max-width: 1200px) {
  .builder-bar {
    grid-template-columns: 20% 1fr 1fr 1fr 1fr 20%;
  }
}

@media screen and (max-width: 800px) {
  .builder-bar {
    grid-template-columns: 10px 1fr 1fr 1fr 1fr 10px;
  }
}

.builder-bar-item .expand-cursor {
  display: inline-block;
  text-align: center;
  line-height: var(--builder-bar-height);
}