.photo-comp {
  display: inline-block;
  width: 100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.photo-comp .input-area {
  display: block;
  height: 50px;
  text-align: center;
}

.photo-comp .editing {
  display: inline-block;
  width: var(--post-width);
  margin: var(--post-component-vertical-margin) 0;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--background-color-dark-main);
}

.photo-comp .editing img {
  display: block;
  width: 400px;
  margin: 20px auto;
}
@media screen and (max-width: 1000px) {
  .photo-comp .editing img {
    width: 90%;
  }
}

.photo-comp .top-icons {
  display: block;
  margin-bottom: 40px;
}

.photo-comp .left-icons {
  float: left;
  display: block;
}
.photo-comp .left-icons .reacting-link {
  display: inline-block;
  margin: 0 5px;
}
.photo-comp .left-icons .size-field-div {
  display: inline-block;
  margin-left: 10px;
}
.photo-comp .left-icons .size-field-div label {
  margin-right: 5px;
}
.photo-comp .left-icons .bg-position-field-div {
  display: inline-block;
  margin-left: 10px;
}
.photo-comp .left-icons .bg-position-field-div label {
  margin-right: 5px;
}

.photo-comp .right-icons {
  float: right;
  display: block;
}
.photo-comp .right-icons .reacting-link {
  display: inline-block;
  margin: 0 5px;
}
.photo-comp .text-comp .reacting-link:hover {
  -webkit-transform: scale(1.2);
}
