.photo-comp {
  display: inline-block;
  width: 100%;
}

.photo-comp .input-area {
  display: block;
  height: 50px;
  text-align: center;
}

.photo-comp .editing {
  display: inline-block;
  width: var(--post-width);
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--background-color-dark-main);
}

.photo-comp .editing img {
  width: 400px;
  margin: 20px 0; 
}
@media screen and (max-width: 1000px) {
  .photo-comp .editing img {
    width: 90%;
  }
}

.photo-comp .left-icons {
  float: left;
  display: block;
}
.photo-comp .left-icons .reacting-link {
  display: inline-block;
  margin: 0 5px;
}
.photo-comp .right-icons {
  float: right;
  display: block;
}
.photo-comp .text-comp .reacting-link:hover {
  -webkit-transform: scale(1.2);
}