@import '../../styles/constants.css';

.photo-comp .photo {
  margin-left: auto;
  margin-right: auto;
}

.photo-comp .photo img {
  width: var(--post-width);
}

.background-photo-div {
  margin: 0;

  /* backround image set in-line */

  /* height set in-line - however..  */
  /* we supply one here to overwrite any bad input */
  min-height: 10px;
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* these should be at the bottom so that they override other things */
.has-top-margin {
  margin-top: var(--post-component-vertical-margin);
}

.has-bottom-margin {
  margin-bottom: var(--post-component-vertical-margin);
}

.photo-comp .image-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-comp .image-modal-content {
  position: relative;
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.photo-comp .image-modal-content img {
  max-width: 100%;
  max-height: 100%;
}
