@import '../../components/styles/constants.css';

.tag-item {
  display: inline-block;
  margin: 10px 20px 10px 0;
}

.tag-item .tag-name {
  display: inline;
  margin-right: 5px;
}

.tag-item .tag-delete {
  display: inline;
}
